@import '../../commons/styles/main.styl'

.SalaryForm
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)

.Salary-questionList
  label
    color rgba(0, 0, 0, 0.45098)
    display block
    font-family 'Montserrat'

  input
    background transparent
    padding .5em 1em .5em .7em
    display block
    font-size 1em
    width calc(100% - 2em)
