@font-face
  font-family 'Montserrat'
  src url('../fonts/Montserrat.ttf') format('truetype')
  font-weight bold

@font-face
  font-weight normal
  font-style normal
  font-family 'icomoon'
  src url('../fonts/icomoon.eot')
  src url('../fonts/icomoon.eot?#iefix-9heso') format('embedded-opentype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.svg#icomoon') format('svg')
