<form class="SalaryForm" [ngFormModel] = "salaryForm">
  <ol class="QuestionList">
    <li class="QuestionList-item is-active">
      <span>
        <label>¿Cuál es su salario bruto?</label>
      </span>
      <input name="grossSalary" [(ngModel)]="salary.grossSalary" ngControl="grossSalary" >
    </li>
    <li class="QuestionList-item">
      <span>
        <label>¿Recibe Asignación Familiar?</label>
      </span>
      <input name="hasFamiliarAssigment" [(ngModel)]="salary.hasAssigmentFamiliar" ngControl="hasFamiliarAssigment">
  </li>
  </ol>
  <button class="SubmitButton" type="submit">Calcular</button>
  <div class="Controls">
    <button class="NextButton is-show" (click)="events.onNextQuestion()"></button>
    <div class="ProgressBar"></div>
    <span class="Number">
      <span class="Number-current">1</span>
      <span class="Number-total">3</span>
    </span>
    <div class="ErrorMessage" [hidden]="fn.validQuestions()"> Ingrese un monto</div>
  </div>
</form>
