<form class="SalaryForm" #salaryForm="ngForm">
  <ol class="QuestionList">
    <li class="QuestionList-item is-active">
      <span>
        <label>¿Cuál es su salario bruto?</label>
      </span>
      <input [(ngModel)]="salary.grossSalary" ngControl="salary.grossSalary" required #grossSalary="ngForm">
    </li>
    <li class="QuestionList-item">
      <span>
        <label>¿Recibe Asignación Familiar?</label>
      </span>
      <input [(ngModel)]="salary.hasAssigmentFamiliar" ngControl="salary.hasFamiliarAssigment" required #hasFamiliarAssigment="ngForm">
  </li>
  </ol>
  <button class="SubmitButton" type="submit">Calcular</button>
  <div class="Controls">
    <button class="NextButton is-show" (click)="events.onNextQuestion()"></button>
    <div class="ProgressBar"></div>
    <span class="Number">
      <span class="Number-current">1</span>
      <span class="Number-total">3</span>
    </span>
    <div class="ErrorMessage" [hidden]="grossSalary.valid"> Ingrese un monto</div>
  </div>
</form>
